*{
	margin: 0;
	padding: 0;	
}
html, body, .viewport {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: arial;
}

a{
	color: white;
	font: 17px arial, sans-serif;
	text-decoration:none;
	font-weight: bold;
}

.header{
	background:rgb(109,204,170);
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom:10px;
}
.header2{
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgb(133,212,183);
}
.info{
	color: white;
	font: 20px Arial Black;
}
#mess{
	font: 15px Arial Black; 
}
.titulo{
	font: 30px arial, sans-serif;
	font-weight: bold;
}
.subtitulo{
	color: grey;
	font: 17px arial, sans-serif;
	font-weight: bold;
}
.parrafo{
	color: grey;
	font: 15px Arial;
}
.line{
	width: 40px;
	height: 1.2px;
	background: rgb(59,59,59);
}
.boton{
	font: 13px sans-serif;
	font-weight: bold;
	border: 4px solid black;
	width:110px;
	height:40px;
	padding-left: 15px;
	padding-right: 30px;
	padding-top: 10px;
    margin-right:  10px;
}
footer{
	font: 15px sans-serif;
	background: rgb(230,230,230);
	padding-left: 20px;
	padding-top: 10px;
}

.infoadoptados{
	color : black;

}
.carousel-caption{
	font: 13px sans-serif;
	color: black;
	text-align: left;
	background: rgb(133,212,183,.40)

}
.imgcarrusel{
	width: 100%;
}
@media ( max-width: 900px) {
    #main{
        height: auto;
    }
    .col {
        width: 100%;
        float: none;
        margin:0;
        padding-left:0;
    }
}
h1,h5{
		padding-left: 20px;
}


@media( max-width: 767px){
	h1,h5{
		font-size: 13px;
	}
}

.centrado{
	text-align: center;
}


#photos {
  column-count:         3; 
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
}

.formulario {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
	background: rgb(133,212,183);
	width:800px;
	height:700px;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}