{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'validarFormulario.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Adoptar
    </title>
</head>
<body>    
    <h2>¿De donde eres: {{ user.first_name }}?</h2>
    <form method ="post" action="adoptar">
        {% csrf_token %}
        <select id="regiones" name="region">
        </select>
        <select id="comunas" name="comunas">
        </select>
        <select id="tdv" name="tdv">
            <option value="dep">Departamento</option>
            <option value="casa">Casa</option>
            <option value="calle">La calle</option>
        </select>
        <button type="submit" value="Select">Adoptar</button>
    </form>
</body>
</html>