{% load static from staticfiles %}


<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de contacto</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'validarFormulario.js' %}"></script>
        
</head>
<body style="background:rgb(109,204,170); ">
      <div class="conteiner row formulario" style="width: 1000px;
      margin: 0 auto;">
        <form method="post" action="adoptar">
        {% csrf_token %}
        <ul>
            <h1>Formulario de Registro</h1>
          <li>
                {{ form.username.label }}
                <br>
                {{ form.username }}     
          </li>
          <li>
            {{ form.first_name.label }}
            <br>
            {{ form.first_name }}
          </li>
          <li>
            {{ form.last_name.label }}
            <br>
            {{ form.last_name }}
          </li>
          <li>
            <p>Correo Electronico <br>{{ form.email }}</p>
            
          </li>
          <li>
            <p>Contraseña <br> {{ form.password1 }}</p>
          </li>
          <li>
          <p>Confirmar Contraseña <br> {{ form.password2 }}</p>  
        </li>
        </ul>
      <button type="submit"> Register </button>
        </form>      
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/ValidarFormulario.js"></script>

</body>

</html>

