{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="es-CL">
	<head>
		{% progressive_web_app_meta %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mis FlexPerris</title>	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'style.css' %}">
	</head>	
		<body style="background:rgb(109,204,170)"> 
		<div class="container"> 
			<div class="row" style="background:rgb(109,204,170)">
				<div class="col-xs-12 col-sm-5 header">
					<img src="{% static 'logo.png' %}" style="width: 100%;" alt="">
				</div>
				<div class="col-xs-12 col-sm-7 header my-auto">					
						<div class="row center-xs">
						<div class="col-xs-12 col-sm-3 centrado">	<a href ="http://127.0.0.1:8000/mascotas/">Inicio</a></div>
						<div class="col-xs-12 col-sm-3 centrado">	<a href ="http://www.duoc.cl/inicio">Quienes somos</a></div>
						<div class="col-xs-12 col-sm-3 centrado">	<a href ="http://www.duoc.cl/inicio">Servicios</a></div>
						<div class="col-xs-12 col-sm-3 centrado">	<a href ="http://127.0.0.1:8000/usuario/registrar">Registrate</a></div>						
					</div>
				</div>
				<div class="container header2">
					<div class="col-xs-12">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators" data-slide-to-="0" class="active"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to-="1"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to-="2"></li>
							</ol>
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img class="d-block imgcarrusel" src="{% static 'adoptados/Apolo.jpg' %}" alt="First slide">
						  	<div class="carousel-caption d-md-block w-100 fondo">
							      	<h1>Apolo no deja de sonreir</h1>
							      	<h5>Gracias a eso nosotros hemos mejorado nuestro estilo de vida</h5>
									<h5>Es una gran compañia, Gracias Mis Perris.</h5>
							      </div>
						    </div>
						    <div class="carousel-item">
						      <img class="d-block imgcarrusel"  src="{% static 'adoptados/Duque.jpg' %}" alt="Second slide">
							  <div class="carousel-caption d-md-block w-100 fondo">
							      	<h1>Duque le dio sentido a mi vida</h1>
							      	<h5>Sin el no seria yo</h5>
									<h5>Gracias Mis Perris por darme a conocer a este gran perro.</h5>
							      </div>
						    </div>
						    <div class="carousel-item ">
						      <img class="d-block imgcarrusel" src="{% static 'adoptados/Tom.jpg' %}" alt="Third slide">
							  <div class="carousel-caption d-md-block w-100 fondo">
							      	<h1>Estamos Felices</h1>
							      	<h5>de tener a Tom en casa.</h5>
									<h5>Es un super buen compañero.</h5>
							      </div>
						    </div>
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Anterior</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Siguiente</span>
						  </a>
						</div>
					</div>
				</div>
						
						<div class="col-xs-12 col-sm-12 header2 centrado">
								<a href="https://mail.google.com/mail/u/0/" target="_blank"><img class="logos" src="{% static 'Mail.png' %}" width="60" alt=""></a>
								<a href="https://www.instagram.com/" target="_blank"><img class="logos" src="{% static 'logoinstagram.png' %}"  width="60" alt=""></a>
								<a href="https://www.google.cl/" target="_blank"><img class="logos" src="{% static 'logoface.png' %}" width="60" alt=""></a>
								<a href="https://es-la.facebook.com/" target="_blank"><img class="logos" src="{% static 'Google-Plus.png' %}" width="60" alt=""></a>
						</div>
					</div>
			</div>


		<div style="background:white;">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6" style="padding-left: 90px; padding-right: 10px">
					<br>
					<p style="text-align: right;" class="titulo">RESCATE</p>
					<p style="text-align: right;" class="subtitulo">ETAPA UNO</p>
					<hr style="float: right;" class="line">
					<br><br>
					<p style="text-align: right;" class="parrafo">Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
					<img style="float: right;" src="{% static 'rescate.jpg' %}" class="rescate" alt="">
				</div>		
				<div class="col-xs-12 col-sm-6" style="padding-left: 10px;">
					<br>
					<img src="{% static 'crowfunding.jpg' %}" class="crow" width="350px">
					<p class="titulo">CROWDFUNDING</p>
					<p class="subtitulo">FINANCIAMIENTO</p>
					<hr class="line">
					<p class="parrafo">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento pasa seguir ayudando.</p>
					<p class="boton">CAMPAÑAS</p>
				</div>		
			</div>
		</div>
		</div>

		<h1 style="text-align: center;">Perros rescatados</h1>
		<div class="col-xs-12 col-sm-12 header2 centrado">
		{% for masc in mascotas %}
		<img src="{{ masc.image.url }}" alt="" style="width: 200px">
		{% endfor %}

		<div class="col-xs-12 col-sm-12 header2 centrado"><a href="http://127.0.0.1:8000/usuario/login"> <button  type="button" class="btn btn-default" data-dismiss="modal" style>Adoptar</button>
		</a></div>
		<a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
		
		</div>
		<br>
		<div style="background: rgb(230,230,230);">
		<div class="container" >
			<div class="row">
				<div class="col-ms-12">
					<footer>
						Desarrollo Web y mobile
						<br><br><br><br>
					</footer>
				</div>
			</div>
		</div>
	</div>

  
	</body>
</html>