{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="es-CL">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mis FlexPerris</title>	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'style.css' %}">
	</head>
		<body style="background:rgb(109,204,170)"> 
		<div class="container"> 
			<div class="row" style="background:rgb(109,204,170)">
				<div class="col-xs-12 col-sm-5 header">
					<img src="{% static 'logo.png' %}" style="width: 100%;" alt="">
				</div>
				<div class="col-xs-12 col-sm-7 header my-auto">					
						<div class="row center-xs">
						<div class="col-xs-12 col-sm-3 centrado">	<a href ="http://127.0.0.1:8000/mascotas/">Inicio</a></div>
						<div class="col-xs-12 col-sm-3 centrado">	<a href ="http://www.duoc.cl/inicio">Quienes somos</a></div>
						<div class="col-xs-12 col-sm-3 centrado">	<a href ="http://www.duoc.cl/inicio">Servicios</a></div>
						<div class="col-xs-12 col-sm-3 centrado">	<a href ="http://127.0.0.1:8000/usuario/">Registrate</a></div>
					</div>
				</div>
				<div class="container header2">
					<div class="col-xs-12">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators" data-slide-to-="0" class="active"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to-="1"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to-="2"></li>
							</ol>
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img class="d-block imgcarrusel" src="{% static 'adoptados/Apolo.jpg' %}" alt="First slide">
						  	<div class="carousel-caption d-md-block w-100 fondo">
							      	<h1>Apolo no deja de sonreir</h1>
							      	<h5>Gracias a eso nosotros hemos mejorado nuestro estilo de vida</h5>
									<h5>Es una gran compañia, Gracias Mis Perris.</h5>
							      </div>
						    </div>
						    <div class="carousel-item">
						      <img class="d-block imgcarrusel"  src="{% static 'adoptados/Duque.jpg' %}" alt="Second slide">
							  <div class="carousel-caption d-md-block w-100 fondo">
							      	<h1>Duque le dio sentido a mi vida</h1>
							      	<h5>Sin el no seria yo</h5>
									<h5>Gracias Mis Perris por darme a conocer a este gran perro.</h5>
							      </div>
						    </div>
						    <div class="carousel-item ">
						      <img class="d-block imgcarrusel" src="{% static 'adoptados/Tom.jpg' %}" alt="Third slide">
							  <div class="carousel-caption d-md-block w-100 fondo">
							      	<h1>Estamos Felices</h1>
							      	<h5>de tener a Tom en casa.</h5>
									<h5>Es un super buen compañero.</h5>
							      </div>
						    </div>
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Anterior</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Siguiente</span>
						  </a>
						</div>
					</div>
				</div>
						<div class="col-xs-12 col-sm-12 header2 centrado">
								<a href="https://mail.google.com/mail/u/0/" target="_blank"><img class="logos" src="{% static 'Mail.png' %}" width="60" alt=""></a>
								<a href="https://www.instagram.com/" target="_blank"><img class="logos" src="{% static 'logoinstagram.png' %}"  width="60" alt=""></a>
								<a href="https://www.google.cl/" target="_blank"><img class="logos" src="{% static 'logoface.png' %}" width="60" alt=""></a>
								<a href="https://es-la.facebook.com/" target="_blank"><img class="logos" src="{% static 'Google-Plus.png' %}" width="60" alt=""></a>
						</div>
					</div>
			</div>


		<div style="background:white;">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6" style="padding-left: 90px; padding-right: 10px">
					<br>
					<p style="text-align: right;" class="titulo">RESCATE</p>
					<p style="text-align: right;" class="subtitulo">ETAPA UNO</p>
					<hr style="float: right;" class="line">
					<br><br>
					<p style="text-align: right;" class="parrafo">Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
					<img style="float: right;" src="{% static 'rescate.jpg' %}" class="rescate" alt="">
				</div>		
				<div class="col-xs-12 col-sm-6" style="padding-left: 10px;">
					<br>
					<img src="{% static 'crowfunding.jpg' %}" class="crow" width="350px">
					<p class="titulo">CROWDFUNDING</p>
					<p class="subtitulo">FINANCIAMIENTO</p>
					<hr class="line">
					<p class="parrafo">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento pasa seguir ayudando.</p>
					<p class="boton">CAMPAÑAS</p>
				</div>		
			</div>
		</div>
		</div>

	<h1 style="text-align: center;">Perros rescatados</h1>


		<div class="container header" id=photos>
			<div class="row">
				<div class="col-xs-12">
					<a href="#" id="pop" data-toggle="modal" data-target="#imagemodal" data-whatever="@getbootstrap">
					    <img id="imageresource" class="imgP" src="imagenes/rescatados/Bigotes.jpg" alt="">
					</a>
					</button>
					<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					      	<h5 class="modal-title" id="myModalLabel"> Bigotes</h5>
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					      </div>
					      <div class="modal-body">
					        <img src="imagenes/rescatados/Bigotes.jpg" id="imagepreview" style="width: 100%;">
					        <br><br>
							<p>Este perro es de color café, es de raza pequeña, ideal para un departamento, busca una familia.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

					<a href="#" id="pop" data-toggle="modal" data-target="#imagemodal2" data-whatever="@getbootstrap">
					    <img id="imageresource" class="imgP" src="imagenes/rescatados/Chocolate_tn.jpg" alt="">
					</a>
					</button>
					<div class="modal fade" id="imagemodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					      	<h5 class="modal-title" id="myModalLabel"> Chocolate</h5>
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					      </div>
					      <div class="modal-body">
					        <img src="imagenes/rescatados/Chocolate.jpg" id="imagepreview" style="width: 100%;">
					        <br><br>
					        <p>Les presento a chocolate,color cafe(como el chocolate), raza grande, excelente cuidador, amigable con los niños.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
					
					<a href="#" id="pop" data-toggle="modal" data-target="#imagemodal3" data-whatever="@getbootstrap">
					    <img id="imageresource" class="imgP" src="imagenes/rescatados/Wifi_tn.jpg" alt="">
					</a>
					</button>
					<div class="modal fade" id="imagemodal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					      	<h5 class="modal-title" id="myModalLabel"> Wifi</h5>
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					      </div>
					      <div class="modal-body">
					        <img src="imagenes/rescatados/Wifi.jpg" id="imagepreview" style="width: 100%;">
					        <br><br>
					        <p>Él es Wifi, raza pequeña, cariñoso y tranquilo.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

					<a href="#" id="pop" data-toggle="modal" data-target="#imagemodal4" data-whatever="@getbootstrap">
					    <img id="imageresource" class="imgP" src="imagenes/rescatados/Maya_tn.jpg" alt="">
					</a>
					</button>
					<div class="modal fade" id="imagemodal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					      	<h5 class="modal-title" id="myModalLabel"> Maya</h5>
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					      </div>
					      <div class="modal-body">
					        <img src="imagenes/rescatados/Maya.jpg" id="imagepreview" style="width: 100%;">
					        <br><br>
					        <p>Maya, una gran compañera, un poco inquieta, pero amigable con los niños.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

					<a href="#" id="pop" data-toggle="modal" data-target="#imagemodal5" data-whatever="@getbootstrap">
					    <img id="imageresource" class="imgP" src="imagenes/rescatados/Oso_tn.jpg" alt="">
					</a>
					</button>
					<div class="modal fade" id="imagemodal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					      	<h5 class="modal-title" id="myModalLabel"> Oso</h5>
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					      </div>
					      <div class="modal-body">
					        <img src="imagenes/rescatados/Oso.jpg" id="imagepreview" style="width: 100%;">
					        <br><br>
					        <p>Oso, raza grande, gran perro cuidador necesita un hogar, pelaje suave.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
					
					<a href="#" id="pop" data-toggle="modal" data-target="#imagemodal6" data-whatever="@getbootstrap">
					    <img id="imageresource" class="imgP" src="imagenes/rescatados/Luna_tn.jpg" alt="">
					</a>
					</button>
					<div class="modal fade" id="imagemodal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					      	<h5 class="modal-title" id="myModalLabel"> Luna</h5>
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					      </div>
					      <div class="modal-body">
					        <img src="imagenes/rescatados/Luna.jpg" id="imagepreview" style="width: 100%;">
					        <br><br>
					        <p>Luna, perrita busca hogar, es cariñosa y fiel, le gusta pasear.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

					<a href="#" id="pop" data-toggle="modal" data-target="#imagemodal7" data-whatever="@getbootstrap">
					    <img id="imageresource" class="imgP" src="imagenes/rescatados/Pexel_tn.jpg" alt="">
					</a>
					</button>
					<div class="modal fade" id="imagemodal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					      	<h5 class="modal-title" id="myModalLabel"> Pexel</h5>
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					      </div>
					      <div class="modal-body">
					        <img src="imagenes/rescatados/Pexel.jpg" id="imagepreview" style="width: 100%;">
					        <br><br>
					        <p>Pexel, perro pequeño pero ladrador, pelaje color cafe claro, fiel.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	
			</div>
		</div>
		<br>
		<div style="background: rgb(230,230,230);">
		<div class="container" >
			<div class="row">
				<div class="col-ms-12">
					<footer>
						Desarrollo Web y mobile
						<br><br><br><br>
					</footer>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/ValidarFormulario.js"></script>
	
	</body>
</html>